/* .size-form{
    width: 750;
    height: 800;
    text-align: center;
} */

.fm{
    padding: 40px;
}

.bt{
    margin-bottom: 20px;
}

.size-input{
    left: 30px;
    width: 620px;
    height: 200px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}